.placementsPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 2px;
}

.placementsPageRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.placementsTableContainer {
    width: 48.5vw;
}

#filterButtonsContainer {
    width: 50vw;
    min-width: 50vw;
}

#planCardContainer {
    width: 25vw;
    min-width: 25vw;
}

.smallGapRow > * {
    margin-left: 3px;
}

.pagerAboveDataGrid {
    border-top: 0px;
    padding-top: 0px;
}