.placementsPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.placementsPageContainer button {
    padding: 2px 2px 2px 2px;
}

.placementsPageRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

#filterButtonsContainer {
    width: 47.5%;
}
#planCardContainer {
    width: 30%;
}
#textAreaContainer {
    width: 22.5%;
}

.smallGapRow > * {
    margin-left: 3px;
}

.placementsTableContainer {
    width: calc(50% - 5px);
}
.placementsTableContainer > .dx-widget {
    max-width: none !important;
}

.pagerAboveDataGrid {
    border-top: 0px;
    padding-top: 0px;
}

.placementsPageContainer button.btn:disabled {
    opacity: 100%;
}