.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 5px;
    margin-right: 5px;
}

.buttonsContainer button {
    margin-left: 5px;
    margin-top: 2px;
}